In [76]:
##cinco patinhos foram passear
todos = 5
for patinhos in range(todos):
    if todos == 1:
        print( todos ,"patinho foi passear, além das montanhas, na beira do mar. A mamãe gritou qua qua qua qua, mas nenhum patinho voltou de lá")

    elif(todos == 2):
       print( todos ,"patinhos foram passear, além das montanhas, na beira do mar. A mamãe gritou qua qua qua qua, mas só " , todos - 1 , "patinho voltou de lá")
    else:
        print( todos ,"patinhos foram passear, além das montanhas, na beira do mar. A mamãe gritou qua qua qua qua, mas só " , todos - 1 , "patinhos voltaram de lá")

    todos = todos - 1

5 patinhos foram passear, além das montanhas, na beira do mar. A mamãe gritou qua qua qua qua, mas só  4 patinhos voltaram de lá
4 patinhos foram passear, além das montanhas, na beira do mar. A mamãe gritou qua qua qua qua, mas só  3 patinhos voltaram de lá
3 patinhos foram passear, além das montanhas, na beira do mar. A mamãe gritou qua qua qua qua, mas só  2 patinhos voltaram de lá
2 patinhos foram passear, além das montanhas, na beira do mar. A mamãe gritou qua qua qua qua, mas só  1 patinho voltou de lá
1 patinho foi passear, além das montanhas, na beira do mar. A mamãe gritou qua qua qua qua, mas nenhum patinho voltou de lá

In [80]:
## Mariana conta de 1 até 10
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
cont = 1

while cont <= 10:
     
     print("Mariana conta ",cont, ", mariana conta", cont, "é", )
     cont += 1
v = 1

Mariana conta  1 , mariana conta 1 é
Mariana conta  2 , mariana conta 2 é
Mariana conta  3 , mariana conta 3 é
Mariana conta  4 , mariana conta 4 é
Mariana conta  5 , mariana conta 5 é
Mariana conta  6 , mariana conta 6 é
Mariana conta  7 , mariana conta 7 é
Mariana conta  8 , mariana conta 8 é
Mariana conta  9 , mariana conta 9 é
Mariana conta  10 , mariana conta 10 é

In [67]:
## Melhorando o que fiz antes
x = [1]
lista = []
for i in range(1, 11):
  lista.append(str(i))

  print("Mariana conta", i ,",mariana conta ", i, "é", lista, "é Ana, viva Mariana, viva Mariana")
  x.append(str(lista))

Mariana conta 1 ,mariana conta  1 é ['1'] é Ana, viva Mariana, viva Mariana
Mariana conta 2 ,mariana conta  2 é ['1', '2'] é Ana, viva Mariana, viva Mariana
Mariana conta 3 ,mariana conta  3 é ['1', '2', '3'] é Ana, viva Mariana, viva Mariana
Mariana conta 4 ,mariana conta  4 é ['1', '2', '3', '4'] é Ana, viva Mariana, viva Mariana
Mariana conta 5 ,mariana conta  5 é ['1', '2', '3', '4', '5'] é Ana, viva Mariana, viva Mariana
Mariana conta 6 ,mariana conta  6 é ['1', '2', '3', '4', '5', '6'] é Ana, viva Mariana, viva Mariana
Mariana conta 7 ,mariana conta  7 é ['1', '2', '3', '4', '5', '6', '7'] é Ana, viva Mariana, viva Mariana
Mariana conta 8 ,mariana conta  8 é ['1', '2', '3', '4', '5', '6', '7', '8'] é Ana, viva Mariana, viva Mariana
Mariana conta 9 ,mariana conta  9 é ['1', '2', '3', '4', '5', '6', '7', '8', '9'] é Ana, viva Mariana, viva Mariana
Mariana conta 10 ,mariana conta  10 é ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'] é Ana, viva Mariana, viva Mariana

In [35]:
## Fazendo uma repetição para o número 1
x = [1]
lista = []
for i in range(1, 11):
  lista.append(str(i))
  if i !=1:
   print("Mariana conta", i ,",mariana conta ", i, "é", lista , "é Ana, viva Mariana, viva Mariana") 
  else:
   print("Mariana conta", i ,",mariana conta ", i, "é", lista ,"é", lista, "é Ana, viva Mariana, viva Mariana")

Mariana conta 1 ,mariana conta  1 é ['1'] é ['1'] é Ana, viva Mariana, viva Mariana
Mariana conta 2 ,mariana conta  2 é ['1', '2'] é Ana, viva Mariana, viva Mariana
Mariana conta 3 ,mariana conta  3 é ['1', '2', '3'] é Ana, viva Mariana, viva Mariana
Mariana conta 4 ,mariana conta  4 é ['1', '2', '3', '4'] é Ana, viva Mariana, viva Mariana
Mariana conta 5 ,mariana conta  5 é ['1', '2', '3', '4', '5'] é Ana, viva Mariana, viva Mariana
Mariana conta 6 ,mariana conta  6 é ['1', '2', '3', '4', '5', '6'] é Ana, viva Mariana, viva Mariana
Mariana conta 7 ,mariana conta  7 é ['1', '2', '3', '4', '5', '6', '7'] é Ana, viva Mariana, viva Mariana
Mariana conta 8 ,mariana conta  8 é ['1', '2', '3', '4', '5', '6', '7', '8'] é Ana, viva Mariana, viva Mariana
Mariana conta 9 ,mariana conta  9 é ['1', '2', '3', '4', '5', '6', '7', '8', '9'] é Ana, viva Mariana, viva Mariana
Mariana conta 10 ,mariana conta  10 é ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'] é Ana, viva Mariana, viva Mariana

In [33]:
## como me disseram que poderia ser
x = [1]
lista = []
for i in range(1, 11):
  lista.append(str(i))
  if i !=1:
   print("Mariana conta", i ,",mariana conta ", i) 
   for cadaNumero in lista:
    print(" é " + cadaNumero, end="")
  else:
   print("Mariana conta", i ,", mariana conta ", i, "é", i, " é ", i)
  print(" é Ana, viva Mariana, viva Mariana")

Mariana conta 1 , mariana conta  1 é 1  é  1
 é Ana, viva Mariana, viva Mariana
Mariana conta 2 ,mariana conta  2
 é 1 é 2 é Ana, viva Mariana, viva Mariana
Mariana conta 3 ,mariana conta  3
 é 1 é 2 é 3 é Ana, viva Mariana, viva Mariana
Mariana conta 4 ,mariana conta  4
 é 1 é 2 é 3 é 4 é Ana, viva Mariana, viva Mariana
Mariana conta 5 ,mariana conta  5
 é 1 é 2 é 3 é 4 é 5 é Ana, viva Mariana, viva Mariana
Mariana conta 6 ,mariana conta  6
 é 1 é 2 é 3 é 4 é 5 é 6 é Ana, viva Mariana, viva Mariana
Mariana conta 7 ,mariana conta  7
 é 1 é 2 é 3 é 4 é 5 é 6 é 7 é Ana, viva Mariana, viva Mariana
Mariana conta 8 ,mariana conta  8
 é 1 é 2 é 3 é 4 é 5 é 6 é 7 é 8 é Ana, viva Mariana, viva Mariana
Mariana conta 9 ,mariana conta  9
 é 1 é 2 é 3 é 4 é 5 é 6 é 7 é 8 é 9 é Ana, viva Mariana, viva Mariana
Mariana conta 10 ,mariana conta  10
 é 1 é 2 é 3 é 4 é 5 é 6 é 7 é 8 é 9 é 10 é Ana, viva Mariana, viva Mariana

In [118]:
## Desafio do elefante 
palavraIncomodam = "incomodam "
for n in range(1,10):
    if n == 1:
     print(n ,"elefante incomoda muito a gente," , n + (1), "elefantes", ((n+1)*(palavraIncomodam)),"muito mais")
    else:
       print(n ,"elefante incomodam muito a gente," , n + (1), "elefantes", ((n+1)*(palavraIncomodam)),"muito mais")

1 elefante incomoda muito a gente, 2 elefantes incomodam incomodam  muito mais
2 elefante incomodam muito a gente, 3 elefantes incomodam incomodam incomodam  muito mais
3 elefante incomodam muito a gente, 4 elefantes incomodam incomodam incomodam incomodam  muito mais
4 elefante incomodam muito a gente, 5 elefantes incomodam incomodam incomodam incomodam incomodam  muito mais
5 elefante incomodam muito a gente, 6 elefantes incomodam incomodam incomodam incomodam incomodam incomodam  muito mais
6 elefante incomodam muito a gente, 7 elefantes incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito mais
7 elefante incomodam muito a gente, 8 elefantes incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito mais
8 elefante incomodam muito a gente, 9 elefantes incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito mais
9 elefante incomodam muito a gente, 10 elefantes incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito mais